@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);


h1 {
  font-size: 70px;
  width: 50%;
  margin: 200px auto;
  text-align: center;
  font-family: 'open sans condensed';
}