.greeting {
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  background-color: rgb(88, 40, 199);
  color: white;
  border-radius: 5px;

  h3 {
    font-size: 32px;
    margin: 0;
  }
  
  p {
    font-size: 12px;
    font-weight: lighter;
  }
}