main {
  display: grid;
  gap: 10px;
  text-align: center;
  color: white;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
main > * {
  background-color: purple;
}
@media screen and (max-width: 550px) {
  main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }
  main nav {
    display: none;
  }
  main #img {
    grid-column: 2/3;
    grid-row: 1/3;
    border-radius: 20px;
    border: solid purple;
    text-align: center;
  }
  main #about {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  main #hobbies {
    grid-column: 1/4;
    grid-row: 4/5;
  }
  main #employment {
    grid-column: 1/4;
    grid-row: 5/6;
  }
  main #education {
    grid-column: 1/4;
    grid-row: 6/7;
  }
  main #contact {
    grid-column: 1/4;
    grid-row: 7/8;
  }
}
main nav {
  background-color: black;
  grid-column: 1/9;
  grid-row: 1/1;
}