

.header{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
}

.section-form{
    width:100%;
    display: flex;
    justify-content: center;
    background-color: $color-primary;
    .form{
        width: 15%;
        background-color: $color-white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &__input{
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    }
        &__label{
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
}}





.footer{
    background-color: $color-primary;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin-top: 30vh;

    &__copyright{
        color: $color-white;
        width: 160px;
        align-content: flex-start;
        border: red 2px;
        
    }
    &__date{
        color: $color-white;
    }
}
