

.header{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
}

