$blue: rgb(88, 40, 199);

.nav {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid $blue;

  > * {
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
    color: black;
  }
}