* {
    margin: 0;
    padding:0;
    font-family: Tahonma, Verdana, sans-serif
}

body{
    background-color: white;
    max-width: 1400px;
    margin: auto;
}
header{
    text-align: center;
    height: 80px;
    padding: 40px;  
    color: rgb(94, 92, 89);
    
}

header h1{
    font-size: 40px;

}

.card {
    width: 300px;
    height: auto;
    border: 1px solid gray;
}