*{
    background-color: white;
}
.french-flag{
    height: 400px;
    width: 600px;
    position: relative;
}
.french-flag:active .french-block-1{
    background-color: green;
}

.french-flag:active .french-block-3{
    background-color: orange;
}

.french-block-1 {
    height: 400px;
    width: 200px;
    background-color: blue;
    position: absolute;
}

.french-block-2 {
    height: 400px;
    width: 200px;
    background-color: white;
    position: absolute;
    right: 200px;
}
.french-block-3{
    height: 400px;
    width: 200px;
    background-color: red;
    position: absolute;
    right: 0px;
}

.german-flag{
    height: 133px;
    width: 600px;
    background-color: white;
}

.german-block-1 {
    height: 133px;
    width: 600px;
    background-color: black;
}

.german-block-2 {
    height: 133px;
    width: 600px;
    background-color: gold;
}

.german-block-3{
    height: 133px;
    width: 600px;
    background-color: red;
}
.german-flag:hover .german-block-1{
    background-color: red;
}
.german-flag:hover .german-block-2{
    background-color: white;
}
.german-flag:hover .german-block-3{
    background-color: green;
}