* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

header{
    background-color: #333;
    color: #eee;
    padding: 20px;
}

.students-container{ 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.student-card{
    margin-top:50px;
    width: 300px;
    border: 5px solid #666;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.student-card > * {
    padding: 5px;
}

.student-card ul {
    width: 100%;
    display: flex;  
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

.student-card img {
    width: 200px;
    
}